@model FrontEnd_MVC.Models.Client
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue @Html.DisplayFor(modelItem => modelItem.Nom) @Html.DisplayFor(modelItem => modelItem.Prenom) </h1>

 <div class="row">
<div class="col-xs-6 col-md-3">
<a href="#" class="thumbnail" title="" style="background-color:coral">
<p>Effectuer une réservation</p>
</a>
</div>

<table  class="table">
<thead>
        <tr>
            <th>
                <p>Action</p>                
            </th>
            <th>
                <p>Description</p>                
            </th>
        </tr>
         <tr>           
            <th>
                <p>Historique de mes réservation</p>                
            </th>
            <th>
                <p>Dans ce menu, vous pourrez afficher l'historique de vos réservations</p>              
            </th>
            <th>
                <a asp-controller="Client" asp-action="AfficherReservationClient">Mon historique</a>               
            </th>
        <tr>           
            <th>
                <p>Nouvelle réservation</p>                
            </th>
            <th>
                <p>Dans ce menu, vous pourrez effectuer une nouvelle réservation</p>             
            </th>
            <th>
                <form asp-action="EffectuerReservation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group"> <!-- Passage de l'Idclient à la vue effectuerReservation -->
                    <label hidden="hidden" asp-for="Idclient" class="control-label"></label>
                    <input hidden="hidden" asp-for="Idclient" value=@Model.Idclient class="form-control" /> 
                    <span asp-validation-for="Nom" class="text-danger" hidden="hidden"></span>
                        <div class="form-group">
                        <input type="submit" value="Effectuer une réservation" class="btn btn-primary" />
                        </div>
                </div>
            </form>                           
            </th>
        </tr>       
    </thead>
    </table>
    </div>