@model FrontEnd_MVC.Models.Client
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue @Html.DisplayFor(modelItem => modelItem.Nom) @Html.DisplayFor(modelItem => modelItem.Prenom) </h1>

<table style="margin-left:50px ; margin-top:20px">
<tr>
    <th>
        Réservation
    </th>
    <th>
        Historique
    </th>
</tr>
<tr>
<th>
 <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../Images/ReservationClient.jpg" alt="Reservation" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">

       <p>
                <form asp-action="EffectuerReservation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group"> <!-- Passage de l'Idclient à la vue effectuerReservation -->
                    <label hidden="hidden" asp-for="Idclient" class="control-label"></label>
                    <input hidden="hidden" asp-for="Idclient" value=@Model.Idclient class="form-control" /> 
                    <span asp-validation-for="Nom" class="text-danger" hidden="hidden"></span>
                        <div class="form-group">
                        <input type="submit" value="Effectuer une réservation" class="btn btn-light" />
                        </div>
                </div>
            </form> 
       </p>
    </div>
  </div>
</div>
</th>
<th>
 <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../Images/Historique.jpg" alt="Historique" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">

            <p>
                <a class="btn btn-light" asp-controller="Client" asp-action="AfficheReservationByClient" asp-route-id="@Model.Idclient">Mon historique</a>               
            </p>
        
        </div>
  </div>
</div>   
</th>
</tr>
</table>
    </div>