@model FrontEnd_MVC.Models.Client
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merci de vous identifier</h1>
    <div class="row">

    <div class="col-md-4">    
        <div class="form-group">
        <form asp-action="CheckLogin">
            
               <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" /> 
                <span asp-validation-for="Mail" class="text-danger"></span>
                 <div class="ErrorMessage"> @ViewBag.Error </div> 
                 <input style="margin-top:5px" type="submit" value="Se connecter" class="btn btn-success" /> | <a style="margin-top:5px" class="btn btn-dark" asp-action="HomeCLient">Retour au menu</a>
            </form> 
        </div>
    </div>
   
    </div>
</div>
