@model FrontEnd_MVC.Models.Client
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merci de vous identifier</h1>
    <div class="row">
<<<<<<< HEAD
    <div class="col-md-4">    
        <div class="form-group">
        <form asp-action="CheckLogin">
=======
        <div class="col-md-4">  
            <div class="form-group">
                <form asp-action="CheckLogin">
                        <label asp-for="Mail" class="control-label"></label>
                        <input asp-for="Mail" class="form-control" />
                        <span asp-validation-for="Mail" class="text-danger"></span>
                     <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </form>    
>>>>>>> f1e9d9798e29b77911dd5dff279542c7e3b04536
            
               <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" /> 
                <span asp-validation-for="Mail" class="text-danger"></span>
                 <input style="margin-top:5px" type="submit" value="Login" class="btn btn-light" />
            </form> 
            </div>
<<<<<<< HEAD
          

 </div>
=======
        </div>
>>>>>>> f1e9d9798e29b77911dd5dff279542c7e3b04536
    </div>
 </div>