@model FrontEnd_MVC.Models.Client

@{
    ViewData["Title"] = "CreateClient";
}

<h1>Création du compte client</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-success" /> | <a class="btn btn-dark" asp-action="HomeCLient">Retour au menu</a>
            </div>
        </form>
    </div>
</div>

 <div class="ErrorMessage"> @ViewBag.Error </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
