@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur l'interface du Client</h1>                 
        <button class="btn btn-light" type="button" id="Client" onclick="location.href='@Url.Action("ClientConnection","Client")'">Se connecter</button><button type="button" style="margin:5px" class="btn btn-light" id="Client" onclick="location.href='@Url.Action("CreateClient","Client")'">Créer un compte</button>   
</div>

<div class="ErrorMessage"> @ViewBag.Error </div>