@model FrontEnd_MVC.Models.Reservation

@{
    ViewData["Title"] = "CloturerLocation";
}

<h1>Cloturer une location</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CloseReservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idreservation" class="control-label"></label>
                <input asp-for="Idreservation" class="form-control" />
                <span asp-validation-for="Idreservation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idclient" class="control-label"></label>
                <input asp-for="Idclient" class="form-control" />
                <span asp-validation-for="Idclient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idvoiture" class="control-label"></label>
                <input asp-for="Idvoiture" class="form-control" />
                <span asp-validation-for="Idvoiture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IddepotDepart" class="control-label"></label>
                <input asp-for="IddepotDepart" class="form-control" />
                <span asp-validation-for="IddepotDepart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IddepotRetour" class="control-label"></label>
                <input asp-for="IddepotRetour" class="form-control" />
                <span asp-validation-for="IddepotRetour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idforfait" class="control-label"></label>
                <input asp-for="Idforfait" class="form-control" />
                <span asp-validation-for="Idforfait" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReservation" class="control-label"></label>
                <input asp-for="DateReservation" class="form-control" />
                <span asp-validation-for="DateReservation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDepart" class="control-label"></label>
                <input asp-for="DateDepart" class="form-control" />
                <span asp-validation-for="DateDepart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRetour" class="control-label"></label>
                <input asp-for="DateRetour" class="form-control" />
                <span asp-validation-for="DateRetour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KilometrageDepart" class="control-label"></label>
                <input asp-for="KilometrageDepart" class="form-control" />
                <span asp-validation-for="KilometrageDepart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KilometrageRetour" class="control-label"></label>
                <input asp-for="KilometrageRetour" class="form-control" />
                <span asp-validation-for="KilometrageRetour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoefficientMultiplicateur" class="control-label"></label>
                <input asp-for="CoefficientMultiplicateur" class="form-control" />
                <span asp-validation-for="CoefficientMultiplicateur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdpaysDepart" class="control-label"></label>
                <input asp-for="IdpaysDepart" class="form-control" />
                <span asp-validation-for="IdpaysDepart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

