@model FrontEnd_MVC.Models.Notoriete

@{
    ViewData["Title"] = "CreateNotoriete";
}

<h1>créer une notoriété</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostNotoriete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Libelle" class="control-label"></label>
                <input asp-for="Libelle" class="form-control" />
                <span asp-validation-for="Libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoefficientMultiplicateur" class="control-label"></label>
                <input asp-for="CoefficientMultiplicateur" class="form-control" />
                <span asp-validation-for="CoefficientMultiplicateur" class="text-danger"></span>
            </div>
            <div hidden="hidden" class="form-group">
                <label asp-for="Inactif" class="control-label"></label>
                <input asp-for="Inactif" class="form-control" />
                <span asp-validation-for="Inactif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AfficheNotoriete">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
