@model FrontEnd_MVC.Models.Voiture

@{
    ViewData["Title"] = "CreateVoiture";
}

<h1>Créer une voiture</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostVoiture">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Idnotoriete" class="control-label"></label>
                <input asp-for="Idnotoriete" class="form-control" />
                <span asp-validation-for="Idnotoriete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iddepot" class="control-label"></label>
                <input asp-for="Iddepot" class="form-control" />
                <span asp-validation-for="Iddepot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Immatriculation" class="control-label"></label>
                <input asp-for="Immatriculation" class="form-control" />
                <span asp-validation-for="Immatriculation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marque" class="control-label"></label>
                <input asp-for="Marque" class="form-control" />
                <span asp-validation-for="Marque" class="text-danger"></span>
            </div>
            <div hiddent="hidden" class="form-group">
                <label asp-for="Inactif" class="control-label"></label>
                <input asp-for="Inactif" class="form-control" />
                <span asp-validation-for="Inactif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AfficheVoiture">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

