@model FrontEnd_MVC.Models.Pays

@{
    ViewData["Title"] = "EditPays";
}

<h1>EditPays</h1>

<h4>Pays</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UptadePays">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>     
            <div class="form-group">
                <label asp-for="IDPays" class="control-label"></label>
                <input asp-for="IDPays" class="form-control" />
                
            </div>
            <div class="form-group">
                <label asp-for="ReferencePrix" class="control-label"></label>
                <input asp-for="ReferencePrix" class="form-control" />
                <span asp-validation-for="ReferencePrix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AffichePays">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
