@model FrontEnd_MVC.Models.Forfait

@{
    ViewData["Title"] = "EditForfait";
}

<h1>Modifier le forfait</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateForfait">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden="hidden" class="form-group">
                <label asp-for="Idforfait" class="control-label"></label>
                <input asp-for="Idforfait" class="form-control" />
                <span asp-validation-for="Idforfait" class="text-danger"></span>
            </div>
            <div hidden="hidden" class="form-group">
                <label asp-for="Iddepot1" class="control-label"></label>
                <input asp-for="Iddepot1" class="form-control" />
                <span asp-validation-for="Iddepot1" class="text-danger"></span>
            </div>
            <div hidden="hidden" class="form-group">
                <label asp-for="Iddepot2" class="control-label"></label>
                <input asp-for="Iddepot2" class="form-control" />
                <span asp-validation-for="Iddepot2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div hidden="hidden" class="form-group">
                <label asp-for="DateDebut" class="control-label"></label>
                <input asp-for="DateDebut" class="form-control" />
                <span asp-validation-for="DateDebut" class="text-danger"></span>
            </div>
            <div hidden="hidden" class="form-group">
                <label asp-for="DateFin" class="control-label"></label>
                <input asp-for="DateFin" class="form-control" />
                <span asp-validation-for="DateFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauver" class="btn btn-success" /> |  <a class="btn btn-dark" asp-action="AfficheForfait">Retour à la liste</a>
            </div>
        </form>
    </div>
</div>
<div class="ErrorMessage"> @ViewBag.Error </div>

