@model FrontEnd_MVC.Models.Pays

@{
    ViewData["Title"] = "EditPays";
}

<h1>Modifier le pays</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePays">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>     
            <div  class="form-group" hidden="hidden">
                <label asp-for="Idpays" class="control-label"  ></label>
                <input asp-for="Idpays" class="form-control" />
                </div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauver" class="btn btn-success" /> | <a class="btn btn-dark" asp-action="AffichePays">Retour à la liste</a>
            </div>
        </form>
    </div>
</div>

<div class="ErrorMessage"> @ViewBag.Error </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
