@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur l'interface du loueur</h1>
    <p>Ci-dessous un tableau de l'ensemble des actions que vous pouvez utiliser :</p>
    <table class="table">
    <thead>
        <tr>
            <th>
                <p>Action</p>                
            </th>
            <th>
                <p>Description</p>                
            </th>

        </tr>
        <tr>           
            <th>
                <p>Gestion des pays</p>                
            </th>
            <th>
                <p>Dans ce menu, vous pourrez visualiser l'ensemble des pays. vous pourrez en créer, en modifier et en supprimer</p>
               
            </th>
            <th>
                <a asp-controller="Loueur" asp-action="AffichePays">Voir</a>               
            </th>
        </tr>
         <tr>           
            <th>
                <p>Visualiser les voitures</p>                
            </th>
            <th>
                <p>Voir l'ensemble des voitures Create + edit + delete</p>
               
            </th>
            <th>
                <a asp-controller="Loueur" asp-action="AffichePays">Voir</a>               
            </th>
        </tr>



    </thead>
    <tbody>
    </table>
</div>
