@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur l'interface du loueur</h1>
    <p>Ci-dessous un tableau de l'ensemble des actions que vous pouvez utiliser :</p>
    <table class="table">
    <thead>
        <tr>
            <th>
                <p>Action</p>                
            </th>
            <th>
                <p>Description</p>                
            </th>

        </tr>
        <tr>           
            <th>
                <p>Gestion des notoriétés</p>                
            </th>
            <th>
                <p>Dans ce menu, vous pourrez visualiser l'ensemble des notoriétés. Vous pouvez en créer, en modifier et en supprimer</p>
               
            </th>
            <th>
                <a asp-controller="Loueur" asp-action="AfficheNotorieteActive">Voir</a>               
            </th>
        </tr>
        <tr>           
            <th>
                <p>Gestion des véhicules</p>                
            </th>
            <th>
                <p>Dans ce menu, vous pourrez visualiser l'ensemble des véhicules. Vous pouvez en créer, en modifier et en supprimer</p>
               
            </th>
            <th>
                <a asp-controller="Loueur" asp-action="AfficheVoiture">Voir</a>               
            </th>
        </tr>
         <tr>           
            <th>
                <p>Gestion des prix </p>                
            </th>
            <th>
                <p>Dans ce menu, vous pourrez visualiser l'ensemble des Prix. Vous pouvez en créer, en modifier et en supprimer</p>
               
            </th>
            <th>
                <a asp-controller="Loueur" asp-action="AffichePrix">Voir</a>               
            </th>
        </tr>
         <tr>           
            <th>
                <p>Gestion des pays </p>                
            </th>
            <th>
                <p>Dans ce menu, vous pourrez visualiser l'ensemble des Pays. Vous pouvez en créer, en modifier et en supprimer</p>
               
            </th>
            <th>
                <a asp-controller="Loueur" asp-action="AffichePays">Voir</a>               
            </th>
        </tr>
        <tr>           
            <th>
                <p>Gestion des Villes </p>                
            </th>
            <th>
                <p>Dans ce menu, vous pourrez visualiser l'ensemble des Villes. Vous pouvez en créer, en modifier et en supprimer</p>
               
            </th>
            <th>
                <a asp-controller="Loueur" asp-action="AfficheVille">Voir</a>               
            </th>
        </tr>
        <tr>           
            <th>
                <p>Gestion des dépôts </p>                
            </th>
            <th>
                <p>Dans ce menu, vous pourrez visualiser l'ensemble des dépôts. Vous pouvez en créer, en modifier et en supprimer</p>
               
            </th>
            <th>
                <a asp-controller="Loueur" asp-action="AfficheDepotActive">Voir</a>               
            </th>
        </tr>
        <tr>           
            <th>
                <p>Gestion des forfaits </p>                
            </th>
            <th>
                <p>Dans ce menu, vous pourrez visualiser l'ensemble des forfaits. Vous pouvez en créer, en modifier et en supprimer</p>
               
            </th>
            <th>
                <a asp-controller="Loueur" asp-action="AfficheForfait">Voir</a>               
            </th>
        </tr>
         <tr>           
            <th>
                <p>Gestion des réservations </p>                
            </th>
            <th>
                <p>Dans ce menu, vous pourrez visualiser l'ensemble des réservations. Vous pouvez les modifier </p>
               
            </th>
            <th>
                <a asp-controller="Loueur" asp-action="AfficheReservation">Voir</a>               
            </th>
        </tr>
     

    </thead>
    <tbody>
    </table>
</div>
