@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our website</h1>
    <p>Sélectionner le type d'intervenant que vous êtes :</p>
    <button type="button" id="Loueur" onclick="location.href='@Url.Action("HomeLoueur","Loueur")'">Loueur</button>

</div>
