@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our website</h1>
    <p>Sélectionner le type d'intervenant que vous êtes :</p>
    <button class="btn btn-primary" type="button" id="Loueur" onclick="location.href='@Url.Action("HomeLoueur","Loueur")'">Loueur</button><button type="button" class="btn btn-info" id="Client" onclick="location.href='@Url.Action("HomeClient","Client")'">Client</button>

</div>
