@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur notre site de location de voiture</h1>
    <p>Merci de vous identifier : </p>
    <button class="btn btn-dark" type="button" id="Loueur" onclick="location.href='@Url.Action("HomeLoueur","Loueur")'">Loueur</button><button type="button" class="btn btn-light" id="Client" onclick="location.href='@Url.Action("HomeClient","Client")'">Client</button>

</div>
